<div class="container-md" style="margin:100px">  
    <form method="post" id="myform">  
      <div class="row mb-3">  
        <div class="col-md-12">  
          <h2>Event Feedback Form</h2>
          <div class="fs-6 fw-light">We value your feedback and use it to improve our events. Please fill out this form to share your experience.</div>
        </div>
      </div>
      <div class="row mb-3">  
        <div class="col-sm-3">  
          <label for="FullName" class="form-label">Name</label>
          <input type="text" name="FullName" id="FullName" placeholder="Your Name" required="required" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">  
        <div class="col-sm-3">  
          <label for="Email" class="form-label">Email:</label>
          <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" required="required" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">  
        <div class="col-sm-3">  
          <label for="FullName" class="form-label">Phone Number</label>
          <input type="text" name="FullName" id="FullName" placeholder="Your Name" required="required" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">  
        <div class="col-sm-12">  
          <label>How would you rate the overall event experience?</label>
          <div class="d-flex flex-wrap">  
            <div class="form-check form-check-inline me-3">  
              <input type="radio" name="rating_overall_experience" value="1" id="rating_overall_experience_0" class="form-check-input"/>
              <label class="form-check-label" for="rating_overall_experience_0">1</label>
            </div>
            <div class="form-check form-check-inline me-3">  
              <input type="radio" name="rating_overall_experience" value="2" id="rating_overall_experience_1" class="form-check-input"/>
              <label class="form-check-label" for="rating_overall_experience_1">2</label>
            </div>
            <div class="form-check form-check-inline me-3">  
              <input type="radio" name="rating_overall_experience" value="3" id="rating_overall_experience_2" class="form-check-input"/>
              <label class="form-check-label" for="rating_overall_experience_2">3</label>
            </div>
            <div class="form-check form-check-inline me-3">  
              <input type="radio" name="rating_overall_experience" value="4" id="rating_overall_experience_3" class="form-check-input"/>
              <label class="form-check-label" for="rating_overall_experience_3">4</label>
            </div>
            <div class="form-check form-check-inline me-3">  
              <input type="radio" name="rating_overall_experience" value="5" id="rating_overall_experience_4" class="form-check-input"/>
              <label class="form-check-label" for="rating_overall_experience_4">5</label>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row mb-3">  
        <div class="col-md-6 d-flex align-items-center">  
          <div>  
            <input type="checkbox" class="form-check-input" name="notify_future_events" id="notify_future_events"/>
            <label for="notify_future_events" class="form-check-label" style="margin-left: 5px;">I like to be notified about future events.</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">  
        <div class="col-md-6 d-flex align-items-center">  
          <button class="btn btn-lg px-4" style="background-color:#007bff;border-color:#007bff;color:white;" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>